.stats-section{

    background:#f8fafc;

    padding:80px 0;

}

.stat-card{

    background:white;

    border-radius:20px;

    padding:35px;

    text-align:center;

    transition:.35s;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.stat-card:hover{

    transform:translateY(-8px);

    box-shadow:0 20px 45px rgba(0,0,0,.18);

}

.icon{

    font-size:50px;

}

.stat-card h2{

    margin-top:15px;

    color:#00AA6C;

    font-weight:800;

}

.stat-card p{

    color:#666;

    margin:0;

}